body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.board {
    width: 400px;
    height: 400px;
    display: grid;
    border: 1px solid black;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    margin-top: 20px;    
}

